@model IEnumerable<Assignmnet4.Models.ContactViewModel>

@{
    ViewBag.Title = "PersonContacts";
    Layout = "~/Views/Shared/_Dashboardlayout.cshtml";
}


<div class="container-fluid">

    <h1 class="display-4 my-3 text-center">Contact Numbers</h1>
    <div class="card">

        @if (Alerts.alert == "contact_added")
        {
            <script>
                alertify.success('Contact Added');
            </script>

            Alerts.alert = null;

        }

        @if (Alerts.alert == "contact_failed_added")
        {
            <script>
                alertify.error('Failed to Add');
            </script>


            Alerts.alert = null;

        }
        @if (Alerts.alert == "contact_delete")
        {
            <script>
                alertify.success('Contact Deleted');
            </script>
            Alerts.alert = null;
        }


        <div class="card-body">
            <div class="container my-3 pb-3">
                <form method="post" action="/Contact/Create/@Alerts.person_id">
                    <input type="hidden" name="PersonId" value="@Alerts.person_id" />
                    <div class="form-group">
                        <label for="number">Number</label>
                        <input class="form-control" type="number" name="ContactNumber" value="" />
                    </div>
                    <div class="form-group w-25">
                        <label for="Type">Contact Type</label>

                        <select class="form-control" name="Type">
                            <option value="Mobile">Mobile</option>
                            <option value="Landline">Landline</option>
                            <option value="Fax">Fax</option>
                            <option value="Other">Other</option>
                        </select>

                    </div>

                    <input type="submit" value="Add Number" class="btn btn-success btn-block" />

                </form>
            </div>
            <table class="table table-primary table-striped table-bordered">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.ContactNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>

                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>

                        <td class="text-center">
                            
                            <a onclick="return confirm('Are you sure you want to delete ?')" href="~/Contact/Delet/@item.ContactId/@item.PersonId">Delete</a>


                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
