@model IEnumerable<Assignmnet4.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboardlayout.cshtml";

}



@if (Alerts.alert == "person_deleted")
{
    <script>
                alertify.success('Person Deleted');
    </script>

    Alerts.alert = null;

}


@if (Alerts.alert == "person_added")
{
    <script>
                alertify.success('Person Added');
    </script>

    Alerts.alert = null;

}



<div class="container-fluid mt-3">
    <h1 class="display-4 my-3 text-center">Person List</h1>
    <table class="table table-primary table-striped table-bordered" id="myTable">
        <tr>
            <th>Id</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>Email</th>

            <th>
                Contact Photo
            </th>

            <th class="text-center" colspan="5">Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonId</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @item.EmailId
                </td>


          
                <td class="text-center">
                    <img src="@item.ImagePath" class="img-fluid" style="width:100px;" alt="" />
                </td>
                <td class="text-center">
                    <a href="/Contact/PersonContacts/@item.PersonId">Contacts</a> | 
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonId }) |
                    
                    <a href="/Person/Delete/@item.PersonId" onclick = "return confirm(' you want to delete?');">Delete</a>
                </td>
            </tr>
        }

    </table>

   
</div>
